<div class="flex h-screen bg-slate-300">
  <div class="mx-auto mt-20">
    <div class="p-8 shadow-lg rounded-xl text-center bg-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="inline text-cyan-600 h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
        />
      </svg>
      <h1 class="text-3xl font-bold text-cyan-500">Sign In</h1>
      <h3 class="text-1xl font-semibold text-gray-500">
        Sign in to your account!
      </h3>

      <form
        [formGroup]="loginForm"
        (ngSubmit)="signIn()"
        class="flex flex-col justify-center items-center space-y-6"
      >
        <mat-form-field appearance="outline" class="w-96">
          <mat-label>Email Id</mat-label>
          <input
            type="email"
            matInput
            formControlName="emailId"
            placeholder="abc@example.com"
          />
          <mat-error class="text-xs" *ngIf="loginForm.invalid">Enter a valid email id</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-96">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <mat-error class="text-xs" *ngIf="loginForm.invalid">Enter a valid password</mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <div class="text-1xl">
          Create an account
          <a routerLink="/signup" class="text-blue-600">signup</a>
        </div>

        <button mat-flat-button class="bg-cyan-500 text-white" type="submit">
          Sign In
        </button>
      </form>
    </div>
  </div>
</div>
