<mat-toolbar class="bg-slate-300 shadow-md mb-5">
  <span (click)="home()" class="cursor-pointer">EMS</span>
  <span class="flex-1"></span>
  <button mat-stroked-button *ngIf="isLoggedIn != 'true'" routerLink="/login">
    Login
  </button>
  <span class="mx-5"></span>
  <button mat-flat-button class="pr-5" *ngIf="isLoggedIn != 'true'" routerLink="/signup">
    Signup
  </button>
  <div
    [matMenuTriggerFor]="menu"
    class="bg-gray-200 flex justify-center items-center relative rounded-full cursor-pointer"
    *ngIf="isLoggedIn == 'true'"
  >
    <svg
      class="w-6 h-6 m-3"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
      />
    </svg>
    <span
      class="w-3 h-3 bg-green-500 absolute bottom-0 right-0 rounded-full"
    ></span>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="profile()">
      <mat-icon>person</mat-icon> <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
