<h3 class="font-medium leading-tight text-3xl mt-0 text-blue-600">HOME</h3>
<div class="grid gap-6 grid-cols-1 md:grid-cols-4">

    <div class="bg-white" *ngIf="users!=undefined">
        <div class="p-5">
            <div class="flex items-center justify-between">
                <div class="block">
                    <h3 class="cursor-default">
                        Users
                    </h3>
                    <h1 class="cursor-default">
                        {{users.data?.length}}
                    </h1>
                </div>
                <span class="text-green-500">
                    <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                </span>
            </div>
        </div>
    </div>

    <div class="bg-white" *ngIf="events!=undefined">
        <div class="p-5">
            <div class="flex items-center justify-between">
                <div class="block">
                    <h3 class="cursor-default">
                        Events
                    </h3>
                    <h1 class="cursor-default">
                        {{events.data?.length}}
                    </h1>
                </div>
                <span class="text-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                      </svg>
                </span>
            </div>
        </div>
    </div>

    <div class="bg-white" *ngIf="bookings!=undefined">
        <div class="p-5">
            <div class="flex items-center justify-between">
                <div class="block">
                    <h3 class="cursor-default">
                        Bookings
                    </h3>
                    <h1 class="cursor-default">
                        {{bookings?.data}}

                    </h1>
                </div>
                <span class="text-red-500">
                    <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path></svg>
                </span>
            </div>
        </div>
    </div>
</div>