<div class="grid grid-cols-8" >

    <mat-toolbar color="primary" class="col-span-8">
        <span>Admin Dashboard</span>
        <!-- <span class="flex-1"></span> -->
        <!-- <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button> -->
    </mat-toolbar>
    
    <div class="h-screen shadow-md bg-white px-1 col-span-1">
        <ul>
            <li>
                <a
                (click)="home()" class="flex items-center text-sm py-4 px-6 h-12 text-gray-700 rounded cursor-default hover:text-gray-900 hover:bg-gray-100">
                    Home
                </a>
            </li>
            <li>
                <a
                   (click)="users()" class="flex items-center text-sm py-4 px-6 h-12 text-gray-700 rounded cursor-default hover:text-gray-900 hover:bg-gray-100">Users
                </a>
            </li>
            <li>
                <a
                    (click)="events()" class="flex items-center text-sm py-4 px-6 h-12 text-gray-700 rounded cursor-default hover:text-gray-900 hover:bg-gray-100">Events
                </a>
            </li>
            <li>
                <a
                    (click)="bookings()" class="flex items-center text-sm py-4 px-6 h-12 text-gray-700 rounded cursor-default hover:text-gray-900 hover:bg-gray-100">Bookings
                </a>
            </li>
            <li>
                <a
                   (click)="logout()" class="flex items-center text-sm py-4 px-6 h-12 text-gray-700 rounded cursor-default hover:text-gray-900 hover:bg-gray-100">Logout
                </a>
            </li>
        </ul>
    </div>

    <div class="col-span-7 bg-gray-100 p-5">
        <router-outlet></router-outlet>
    </div>

</div>